body {
    margin: 0;
    padding: 0;
}

.footer {
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

#nav {
    display: flex;
    margin-top: 18px;
    margin-right: 50px;
}

#nav ul li {
    display: inline-flex;
    list-style-type: none;
    padding-left: 20px;
    font-family: Cochin;
}

#logo {
    margin-left: 50px;

}

#logo h1 {
    font-size: 50px;
    font-family: Cochin;
    margin-top: 10px;
}

#lgftr {
    margin-left: 40px;
    font-family: Cochin;
}


#bd1a {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}


#bd1a img {
    width: 100%;
    height: 100vh;
    border-radius: 2px;
    filter: brightness(50%);
}

#btn1 {
    border-radius: 2px;
    border: 2px solid white;
    background-color: transparent;
    min-width: 150px;
    min-height: 50px;
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 16px;
    font-family: Trebuchet MS;
    padding: 12px 12px;
    color: white;
    cursor: pointer;
}

.section {
    display: flex;
    justify-content: center;
}


